* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 3rem;
}

.box-container {
  padding-bottom: 20rem;
  position: relative;
  /* border: 1px solid red; */
  padding: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  background-color: aqua;
  display: grid;
  place-items: center;
  gap: 0.25rem;
  /* position: absolute; */
  /* bottom: 0; */
}

.box-item {
  background-color: white;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

button {
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  background-color: red;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
